#
# Configurazione del Logger
#

log4j.logger.org.dew.saml=DEBUG, logfile

# appender per "logfile"
log4j.appender.logfile=org.apache.log4j.RollingFileAppender
log4j.appender.logfile.File=saml-idp.log
log4j.appender.logfile.MaxFileSize=2048KB
log4j.appender.logfile.MaxBackupIndex=5

# Layout associato al "logfile"
log4j.appender.logfile.layout=org.apache.log4j.PatternLayout
log4j.appender.logfile.layout.ConversionPattern=%d{dd MMM yyyy HH:mm:ss,SSS} %-2r [%t] %-5p %c %x - %m%n
